---

---

<!doctype html>
<html id='__html'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1'
    />
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'
      integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <slot name='head'>
      <title>__UNTITLED__</title>

      <meta
        name='description'
        content='__NO__DESCRIPTION__'
      />
    </slot>
  </head>
  <body id='__body'>
    <slot />
  </body>
</html>
