---
import { BulmaIconText } from '../bulma-components'
---

<nav
  class='navbar'
  role='navigation'
  aria-label='main navigation'
>
  <div class='navbar-brand'>
    <a
      class='navbar-item'
      href='https://github.com/Aqzhyi'
      target='_blank'
    >
      <img
        src='/avatar-defaults.jpg'
        width='28'
        height='28'
      />
    </a>

    <a
      role='button'
      class='navbar-burger'
      aria-label='menu'
      aria-expanded='false'
      data-target='navbarBasicExample'
    >
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
      <span aria-hidden='true'></span>
    </a>
  </div>

  <div
    id='navbarBasicExample'
    class='navbar-menu'
  >
    <div class='navbar-start'>
      <a
        class='navbar-item'
        href='/'
      >
        <BulmaIconText>
          <i
            slot='icon'
            class='fa-solid fa-house-user'
          ></i>
          <span slot='text'>Home</span>
        </BulmaIconText>
      </a>
      <!-- <div class='navbar-item has-dropdown is-hoverable'>
        <a
          class='navbar-link'
          href='/examples/simple'
        >
          Examples
        </a>
        <div class='navbar-dropdown'>
          <a
            class='navbar-item'
            href='./examples/simple'
          >
            開箱直上
          </a>
        </div>
      </div> -->
    </div>
  </div>

  <div class='navbar-end'>
    <div class='navbar-item'>
      <div class='buttons'>
        <BulmaIconText>
          <i
            slot='icon'
            class='fa-brands fa-square-github'
          ></i>
          <a
            slot='text'
            href='https://github.com/aqzhyi'
          >
            Github
          </a>
        </BulmaIconText>
      </div>
    </div>
  </div>
</nav>
