---
import BasicLayout from '../layouts/BaseLayout.astro'
---

<BasicLayout>
  <div>Please open the devtools (for example, by pressing the F12 key).</div>
  <div>You will see the Google Analytics logs appearing in the console panel.</div>
</BasicLayout>
